<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.sifive.gnumcueclipse.debug.gdbjtag.qemu.launchConfigurationType">
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.DeviceTreeArch" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.DeviceTreeCore" value="cpu@0"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.DeviceTreeExpr" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.DeviceTreeHwBp" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.DeviceTreeNumC" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.FpgaImageExpr" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.HwBreakpointLimit" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.NumCores" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.RegisterListExpr" value="${bsp_reglist}"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.TargetArch" value=""/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.qemu.disableGraphics" value="true"/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.qemu.doContinue" value="true"/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.qemu.doDebugInRam" value="true"/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.qemu.doFirstReset" value="false"/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.qemu.doGdbServerAllocateConsole" value="true"/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.qemu.doSecondReset" value="false"/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.qemu.doStartGdbServer" value="true"/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.qemu.doUseDtsMemMap" value="false"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.qemu.gdbClientOtherCommands" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.qemu.gdbClientOtherOptions" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.qemu.gdbServerExecutable" value="${qemu_gdbserver}"/>
    <intAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.qemu.gdbServerGdbPortNumber" value="1234"/>
    <intAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.qemu.gdbServerMonitorPortNumber" value="5432"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.qemu.gdbServerOther" value="-d unimp,guest_errors -readconfig"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.qemu.otherInitCommands" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.qemu.otherRunCommands" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.imageFileName" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.imageOffset" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.ipAddress" value="localhost"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.jtagDevice" value="GNU MCU QEMU"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadImage" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadSymbols" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.pcRegister" value=""/>
    <intAttribute key="org.eclipse.cdt.debug.gdbjtag.core.portNumber" value="1234"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setPcRegister" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setResume" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setStopAt" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.stopAt" value="main"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.symbolsFileName" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.symbolsOffset" value=""/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useFileForImage" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useFileForSymbols" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForImage" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForSymbols" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useRemoteTarget" value="true"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="${qemu_gdbclient}"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.UPDATE_THREADLIST_ON_SUSPEND" value="false"/>
    <intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
    <stringAttribute key="org.eclipse.cdt.launch.COREFILE_PATH" value=""/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value=""/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="qemu_sifive_e31_sifive_welcome"/>
    <booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value=""/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/qemu_sifive_e31_sifive_welcome"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
</launchConfiguration>
